.modal {
  background: white;
  border-radius: 15px;
  padding: 2rem;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_body {
  padding-top: 1rem;
}

.modal_header {
  display: flex;
  justify-content: flex-end;
  font-size: 1.33rem;
  padding-top: 1rem;
}
